# 编译输出
target/
*.class
*.jar
*.war

# IDE配置
.idea/
*.iml
*.iws
*.ipr

# 日志文件
*.log

# 系统文件
.DS_Store
Thumbs.db

# 敏感配置文件
community-server/src/main/resources/application-dev.yml
community-server/src/main/resources/application-prod.yml
sql
# 前端
frontend/node_modules/
frontend/dist/

# 环境变量
.env
.env.local